# OS / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/

# Git
*.log

# Backend
backend/*.exe
backend/db/*.db
backend/data/ad/uploads/*
backend/.env

# Frontend
frontend/node_modules/
frontend/dist/

# Build cache
**/.cache/

